/*** Order.css ***/

/** Layout **/

.l-Order {
  /* Basic Box - Center Horizontally on 60rem x 3rem */
  max-width: 60em;
  margin: auto;
}

.l-footer-buffer {
  /* Basic Box */
  height: 4.5rem;
}

/** Module **/

.Order-price-wrapper {
  /* Basic Box */
  float: left;
  margin: .5rem;
  /* Fonts */
  font-size: 1.25rem;
  text-align: left;
}

.Order-product-count {
  /* Color */
  color: #FFF;
  /* Background & Borders */
  background-color: #673AB7;
  border-radius: .125rem;
  /* Basic Box */
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  /* Text */
  text-align: center;
  line-height: 2.25rem;
}

.Order-price {
  /* Basic Box */
  display: inline-block;
  margin-right: .5rem;
  /* Fonts */
  font-size: 1.5rem;
  font-weight: 700;
}

.Order-delivery-fee {
  /* Basic Box */
  display: table;
  /* Fonts */
  font-size: .75rem;
  font-weight: 700;
  font-style: italic;
}

.Order-delivery-fee-label {
  /* Color */
  color: #673AB7;
  /* Fonts */
  font-weight: 300;
}

.Order-action-wrapper {
  /* Basic Box */
  float: right;
  margin: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.Order-action {
  /* Color */
  color: #FFFFFF;
  /* Background & Borders */
  background-color: #673AB7;
  border-style: solid;
  border-radius: .25rem;
  border-color: #673AB7;
  /* Basic Box */
  padding: .625rem 1rem;
  /* Fonts */
  font-size: 1rem;
  /* Animation */
  transition: 0.1s;
}

.Order-action-clear {
  /* Background & Borders */
  background-color: #FF6D00;
  border-color: #FF6D00;
  /* Basic Box */
  margin-right: .375rem;
}

.Order-action-checkout {
  /* Basic Box */
  margin-left: .375rem;
}

/** Module - 2 Columns Grid **/

@media (max-width: 30em) {

  .Order-price-wrapper {
    /* Basic Box */
    display: block;
    width: 100%;
    margin: .5rem auto;
    /* Text */
    text-align: center;
  }

  .Order-product-count {
    /* Basic Box */
    margin-bottom: 0;
  }

  .Order-delivery-fee {
    /* Basic Box */
    display: inline-block;
  }

  .Order-action-wrapper {
    /* Basic Box */
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .Order-action {
    /* Basic Box */
    margin-bottom: .375rem
  }

  .footer-buffer {
    /* Basic Box */
    height: 7.25rem;
  }
}

/** State **/

.Order-action-clear:active,
.Order-action-clear:focus {
  /* Background & Borders */
  border-color: #673AB7;
}

.Order-action-clear:active {
  /* Background & Borders */
  background-color: #673AB7;
}

.Order-action-checkout:active,
.Order-action-checkout:focus {
  /* Background & Borders */
  border-color: #FF6D00;
}

.Order-action-checkout:active {
  /* Background & Borders */
  background-color: #FF6D00;
}
