/*** Button.css ***/

/** Module **/

.Button {
  /* Color */
  color: #ffffff;
  /* Background & Border */
  background-color: #673ab7;
  border: .125rem solid #673ab7;
  border-radius: .25rem;
  /* Basic Box */
  padding: .625rem 1rem;
  /* Text */
  text-align: center;
  /* Fonts */
  font-size: 1rem;
  /* Animation */
  transition: 0.1s;
}

/** Types **/

.Button-fullwidth {
  /* Basic Box */
  width: 100%;
}

.Button-content {
  /* Basic Box */
  margin: 0 .375rem;
}

/** Button Size **/

.Button-small {
  /* Basic Box */
  /*position: absolute;
  right: 5.75rem;
  top: .5rem;*/
  padding: .25rem .5rem;
  /* Fonts */
  font-size: .875rem;
}

/** Button Role **/

.Button-secondary {
  /* Background & Borders */
  background-color: #ff6d00;
  border-color: #ff6d00;
}

/** State **/

.Button:active,
.Button:focus {
  /* Background & Borders */
  border-color: #ff6d00;
}

.Button:active {
  /* Background & Borders */
  background-color: #ff6d00;
}

.Button-secondary:active,
.Button-secondary:focus {
  /* Background & Borders */
  border-color: #673ab7;
}

.Button-secondary:active {
  /* Background & Borders */
  background-color: #673ab7;
}

.Button:disabled {
  /* Color */
  opacity: .5;
  /* Basic UI */
  cursor: not-allowed;
}
