/*** Button.css ***/

/** Module **/

.Button {
  /* Color */
  color: #FFFFFF;
  /* Background & Border */
  background-color: #673AB7;
  border: .125rem solid #673AB7;
  border-radius: .25rem;
  /* Basic Box */
  padding: .625rem 1rem;
  /* Text */
  text-align: center;
  /* Font */
  font-size: 1rem;
  /* Animation */
  transition: 0.1s;
}

.Button-secondary {
  /* Background & Border */
  background-color: #FF6D00;
  border-color: #FF6D00;
}

.Button-fullwidth {
  width: 100%;
}

.Button-large {
  margin: 0 .375rem;
}

/** State **/

.Button:active,
.Button:focus {
  border-color: #FF6D00;
}

.Button:active {
  background-color: #FF6D00;
}

.Button-secondary:active,
.Button-secondary:focus {
  border-color: #673AB7;
}

.Button-secondary:active {
  background-color: #673AB7;
}
