/*** Form.css ***/

/** Module **/

.Form {
  /* Background & Borders */
  border: 1px solid #b39ddb;
  border-radius: .25rem;
  /* Basic Box */
  margin: .5rem;
  overflow: hidden;
}

.Form-header {
  /* Color */
  color: #fff;
  /* Background & Borders */
  background-color: #673ab7;
  border-color: #b39ddb;
  border-bottom: .125rem solid transparent;
  /* Basic Box */
  position: relative;
  padding: .5rem 1rem;
  /* Text */
  line-height: 1.5rem;
  text-align: left;
}

.Form-header-title {
  /* Fonts */
  font-size: 1rem;
  font-weight: 700;
}

.Form-header-action {
  /* Basic Box */
  position: absolute;
  right: 0.375rem;
  top: .375rem;
}

.Form-body {
  /* Basic Box */
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  /* Table Properties*/
  table-layout: fixed;
}

.Form-body:after {
  /* Basic Box */
  display: table;
  clear: both;
  /* Basic UI */
  content: '';
}

.Form-footer {
  /* Background & Borders */
  background-color: #f5f5f5;
  border-color: #b39ddb;
  border-top: .125rem solid transparent;
  /* Basic Box */
  padding: .5rem;
  /* Text */
  text-align: right;
}
