/*** TextArea.css ***/

/** Module **/

.TextArea {
  /* Color */
  color: rgba(0,0,0,.54);
  /* Basic Box */
  padding: .5rem 0;
  /* Text */
  line-height: 2rem;
  text-align: left;
}

.TextArea-label {
  /* Basic Box */
  display: block;
  /* Fonts */
  font-weight: 700;
}

.TextArea-label-span {
  /* Fonts */
  font-weight: 300;
  font-style: italic;
  font-size: .75rem;
}

.TextArea-input {
  /* Color */
  color: rgba(0,0,0,.78);
  /* Background & Borders */
  border-radius: .375rem;
  border: 1px solid rgba(0,0,0,.12);
  padding: .375rem .625rem;
  /* Text */
  line-height: 1.5rem;
  /* Fonts */
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  /* Animation */
  transition: .5s;
}

.TextArea-input-fullwidth {
  /* Basic Box */
  width: 100%;
}

.TextArea-message {
  /* Color */
  color: #FF6D00;
  /* Basic Box */
  float: right;
  /* Text */
  line-height: 1.5rem;
  /* Fonts */
  font-size: .75rem;
}

/** State **/

.TextArea-input:focus {
  /* Background & Border */
  border: 1px solid #673AB7;
}

.TextArea-input-is-error {
  /* Background & Border */
  border-color: #FF6D00;
}
