/*** Pesanan.css ***/

/** Module **/

.pemesan {
  margin: .5rem;
  border: 1px solid #B39DDB;
  border-radius: .25rem;
  overflow: hidden;
}

.pemesan-heading {
  position: relative;
  color: #fff;
  background-color: #673AB7;
  border-color: #B39DDB;
  border-bottom: .125rem solid transparent;
  padding: .5rem 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.pemesan-heading-title {
  font-size: 1rem;
  font-weight: 700;
}

.pemesan-body {
  table-layout: fixed;
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.TextField {
  /* Color */
  color: rgba(0,0,0,.54);
  /* Basic Box */
  padding: .5rem 0;
  /* Text */
  line-height: 2rem;
  text-align: left;
}

.TextField-label {
  /* Font */
  font-weight: 700;
}

.TextField-label-span {
  /* Font */
  font-weight: 300;
  font-style: italic;
  font-size: .75rem;
}

.TextField-input {
  /* Color */
  color: rgba(0,0,0,.78);
  /* Background & Border */
  border-radius: .375rem;
  border: 1px solid rgba(0,0,0,.38);
  padding: .375rem .625rem;
  /* Basic Box */
  width: 100%;
  /* Text */
  line-height: 1.5rem;
  /* Font */
  font-size: .875rem;
  /* Animation */
  transition: .5s;
}

.TextField-message {
  /* Color */
  color: #FF6D00;
  /* Basic Box */
  float: right;
  /* Text */
  line-height: 1.5rem;
  /* Font */
  font-size: .75rem;
}

.pemesan-body:after {
  display: table;
  clear: both;
  content: '';
}

.pemesan-footer {
  padding: .5rem;
  background-color: #f5f5f5;
  border-color: #B39DDB;
  border-top: .125rem solid transparent;
  text-align: right;
}

.pemesan-footer-action {
  margin: 0;
}

/* State */

.TextField-input:focus {
  border: 1px solid #673AB7;
}

.TextField-input.error {
  border-color: #FF6D00;
}

