/* Layout */

.l-filter-cards {
  width: 100%;
}

.l-grid {
  /* ul reset */
  /* TODO: Consider putting this reset style into Base Rules in index.css */
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: block;
  /* Grid */
  width: 25%;
  float: left;
  /* Gutter */
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.l-grid:after {
  display: table;
  clear: both;
  content: '';
}

/* TODO: Center & crop images vertically & horizontally */

/* 3 Columns Grid */

@media (max-width: 45rem) {
  .l-grid > li {
    width: 33.333333%;
  }

  .card-image > img {
    min-height: 9rem;
  }
}

/* 2 Columns Grid */

@media (max-width: 30rem) {
  .l-grid > li {
    width: 50%;
  }
}
