/*** FilterCards.css ***/

/** Layout **/

.l-FilterCards {
  /* Basic Box */
  margin-top: 1rem;
  width: 100%;
}

.l-FilterCards-grid > li {
  /* Basic Box */
  display: block;
  /* Basic Box - Grid */
  width: 25%;
  float: left;
  /* Basic Box - Gutter */
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* Different Card Heights Fix: http://stackoverflow.com/a/11811937/3187014 */
/* 4 Columns Grid */
.l-FilterCards-grid > li:nth-child(4n + 1) {
  clear: both;
}

.l-FilterCards-grid:after {
  /* Basic Box */
  display: table;
  clear: both;
  /* Basic UI */
  content: '';
}

/* TODO: Center & crop images vertically & horizontally */

/** Layout - 3 Columns Grid **/

@media (max-width: 45em) {
  .l-FilterCards-grid > li {
    /* Basic Box */
    width: 33.333333%;
  }

  .l-FilterCards-grid > li:nth-child(4n + 1) {
    clear: none;
  }

  .l-FilterCards-grid > li:nth-child(3n + 1) {
    clear: both;
  }

  .card-image > img {
    /* Basic Box */
    min-height: 9rem;
  }
}

/** Layout - 2 Columns Grid **/

@media (max-width: 30em) {
  .l-FilterCards-grid > li {
    /* Basic Box */
    width: 50%;
  }

  .l-FilterCards-grid > li:nth-child(3n + 1) {
    clear: none;
  }

  .l-FilterCards-grid > li:nth-child(2n + 1) {
    clear: both;
  }
}
