/*** StyleGuide.css ***/

/** Layout **/

.l-StyleGuide {
  /* Basic Box */
  max-width: 82em;
  margin: auto;
}

/** Module **/

.StyleGuide-section {
  /* Background & Borders */
  border: .125rem groove #673AB7;
  /* Basic Box */
  position: relative;
  margin: 1rem;
  padding: 1rem;
  /* Text */
  text-align: center;
}

.StyleGuide-label {
  /* Basic Box */
  position: static;
  /* Fonts */
  font-size: 1rem;
  font-weight: 700;
}

.StyleGuide-separator {
  top: .5rem;
}
