/*** StyleGuide.css ***/

/** Layout **/

.l-StyleGuide {
  /* Basic Box */
  max-width: 82em;
  margin: auto;
}

/** Module **/

.StyleGuide-section {
  /* Background & Borders */
  border: .125rem groove #673AB7;
  /* Basic Box */
  position: relative;
  margin: 1rem;
  padding: 1rem;
  /* Text */
  text-align: center;
}

.StyleGuide-label {
  /* Background & Borders */
  background-color: #EDE7F6;
  /* Basic Box */
  position: absolute;
  top: -1rem;
  left: 1rem;
  padding: .25rem;
}
