/*** Pesanan.css ***/

/** Module **/

.pesanan {
  margin: .5rem;
  border: 1px solid #B39DDB;
  border-radius: .25rem;
  overflow: hidden;
}

.pesanan-heading {
  position: relative;
  color: #fff;
  background-color: #673AB7;
  border-color: #B39DDB;
  border-bottom: .125rem solid transparent;
  padding: .5rem 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.pesanan-heading-title {
  font-size: 1rem;
  font-weight: 700;
}

.pesanan-heading-action {
  /* Basic Box */
  position: absolute;
  right: 0.5rem;
  top: .375rem;
}

.pesanan-body {
  table-layout: fixed;
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.pesanan-item {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pesanan-item td {
  text-align: left;
  font-size: 1rem;
  color: #616161;
  line-height: 80%;
  padding: .125rem;
}

.pesanan-item-image {
  border-radius: .375rem;
  max-width: 4em;
  max-height: 4rem;
}

.pesanan-item-price-per-unit,
.pesanan-item-order-quantified {
  font-weight: 300;
}

.pesanan-item-name {
  color: #000;
}

.pesanan-item-price {
  font-size: .75rem;
}

.pesanan-item-unit {
  font-size: .625rem;
}

.pesanan-item-order-quantified {
  float: right;
  font-size: .75rem
}

.pesanan-item-total-price {
  text-align: right;
  font-weight: 700;
  color: #FF6D00;
}

td.pesanan-item-order-qty {
  text-align: center;
}

.pesanan-item-order-qty-input {
  width: 3rem;
  line-height: 2rem;
  border: 1px solid #CCC;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  color: #673AB7;
  text-align: center;
}

.pesanan-item-order-qty-unit {
  font-size: .75rem;
  font-weight: 300;
  color: #673AB7;
}

.pesanan-heading > .order-action-clear,
.pesanan-item-order-qty-action > .order-action-clear {
  margin-right: 0;
}

.pesanan-item-order-qty-action > .order-action-clear {
  padding: .5rem;
}

.pesanan-item-order-qty-action:after {
  display: block;
  content: "\00a0";
  height: .75rem;
}

.pesanan-footer {
  padding: .5rem 1rem;
  background-color: #f5f5f5;
  border-color: #B39DDB;
  border-top: .125rem solid transparent;
}

.pesanan-footer-delivery-fee:after,
.pesanan-footer-total-price:after {
  display: table;
  clear: both;
  content: '';
}

.pesanan-footer-delivery-fee-label,
.pesanan-footer-total-price-label {
  float: left;
}

.pesanan-footer-delivery-fee-amount,
.pesanan-footer-total-price-amount {
  font-weight: 700;
  float: right;
  color: #FF6D00;
}

.pesanan-footer-delivery-fee {
  font-style: italic;
}

.pesanan-footer-delivery-fee-label {
  color: #673AB7;
}

.pesanan-footer-total-price {
  font-size: 1.25rem;
}

.pesanan-footer-total-price-label {
  font-weight: 700;
  color: #FF6D00;
}

.pesanan-footer > hr {
  border: 1px solid #673AB7;
  border-bottom: none;
}

@media (max-width: 22.5em) {
  .pesanan-item-image-wrapper {
    display: none;
  }
}
