/*** pages.css ***/

/** Layout **/

.l-fullwidth {
  /* Border Box */
  width: 100%;
  /* Text */
  text-align: center;
}

.l-wrapper-MainNav {
  /* Background & Borders */
  background-color: #D1C4E9;
}

.l-main {
  /* Basic Box - Center Horizontally on 60rem x 3rem */
  display: block;
  max-width: 60em;
  margin: auto;
}

.l-wrapper-footer {
  /* Color */
  color: #FF6D00;
  /* Basic Box - Stick to the bottom of the page */
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  /* Background & Borders */
  background-color: #EDE7F6;
  box-shadow: 0 0 .625rem rgba(0,0,0,.8);
}
