/*** Header.css ***/

/** Module **/

.Header {
  /* Color */
  color: #FFFFFF;
  /* Background & Color */
  background-color: #673AB7;
  /* Basic Box */
  height: 10.5rem;
  padding: 1.5rem;
  /* Text */
  text-align: center;
}

/** State **/

.Header-is-error {
  /* Color */
  color: #FF9800;
}
