/*** Section.css ***/

/** Module **/

.Section {
  /* Background & Borders */
  border: 0;
  /* Basic Box */
  position: relative;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.Section-label {
  /* Background & Borders */
  background-color: #ede7f6;
  /* Basic Box */
  display: inline-block;
  position: static;
  margin: 0 auto;
  padding: .5rem;
  /* Fonts */
  font-size: 1.5rem;
  font-weight: 700;
}

.Section-separator {
  /* Background & Borders */
  border-top: .125rem solid #673ab7;
  border-bottom: none;
  /* Basic Box */
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: -1;
}
