/*** FormFields.css ***/

/** Module **/

.FormFields-footer-done,
.FormFields-footer-clear {
  /* Basic Box */
  width: 48.5%;
}

.FormFields-footer-done {
  /* Basic Box */
  margin-left: 1.5%;
  margin-right: 0;
}

.FormFields-footer-clear {
  /* Basic Box */
  margin-left: 0;
  margin-right: 1.5%;
}
