/*** Card.css ***/

/** Module **/

.Card {
  /* Background & Borders */
  background-color: #fff;
  border-radius: .25rem;
  /* Basic Box */
  margin: .5rem 0;
  overflow: visible;
  /* Background & Borders */
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .16),
    0 .125rem .25rem 0 rgba(0, 0, 0, .12);
}

/** Module - Card Image **/

.Card-image {
  /* Background & Borders */
  background-color: #a9a9a9;
  /* Basic Box */
  position: relative;
}

.Card-image > img {
  /* Background & Borders */
  border-radius: .25rem .25rem 0 0;
  /* Basic Box */
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 10.25rem;
}

.Card-image-overlay {
  /* Color */
  color: #fff;
  /* Background & Borders */
  background-color: rgba(21, 21, 21, .45);
  border-radius: .25rem .25rem 0 0;
  /* Basic Box */
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  padding-bottom: 40%;
  /* Text */
  text-align: center;
}

.Card-image-overlay-qty {
  /* Fonts */
  font-size: 1.5rem;
}

.Card-ribbon-wrapper {
  /* Color */
  color: #fff;
  /* Basic Box */
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  position: absolute;
  top: -.125rem;
  right: -.125rem;
  z-index: 2;
  /* Fonts */
  font-size: .75rem;
}

.Card-ribbon {
  /* Background & Borders */
  background-color: #ff6d00;
  box-shadow: 0 0 .125rem rgba(0, 0, 0, .12);
  /* Basic Box */
  position: relative;
  top: 1rem;
  right: -1rem;
  width: 8rem;
  padding: .625rem 0;
  /* Transform */
  transform: rotate(45deg);
}

.Card-tooltip {
  /* Color */
  color: #fff;
  /* Background & Borders */
  background-color: #ff6d00;
  border-radius: .25rem;
  box-shadow: .125rem .125rem .375rem rgba(0, 0, 0, .12);
  /* Basic Box */
  position: absolute;
  top: 80px;
  display: block;
  margin: .5rem;
  padding: .5rem;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  /* Fonts */
  font-size: .875rem;
  /* Transform */
  transform: translateY(10px);
  /* Animation */
  transition: all .25s ease-out;
}

.Card-ribbon-wrapper:hover + .Card-tooltip {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

/** Module - Card Content **/

.Card-content {
  /* Basic Box */
  padding: .25rem .5rem;
  /* Text */
  line-height: 1rem;
}

.Card-content-title {
  /* Fonts */
  font-size: 1rem;
  font-weight: 700;
}

.Card-content-description {
  /* Color */
  color: #888;
  /* Fonts */
  font-size: .8rem;
  font-weight: 300;
}

/** Module - Card Action **/

.Card-action {
  /* Background & Borders */
  border-top: 1px solid rgba(160, 160, 160, .2);
  /* Basic Box */
  padding: .25rem .5rem .5rem .5rem;
}

.Card-action-price-parent {
  /* Basic Box */
  position: relative;
  margin-bottom: .25rem;
  /* Text */
  text-align: left;
}

.Card-action-price {
  /* Color */
  color: #ff6d00;
  /* Fonts */
  font-weight: 700;
  font-size: 1.125rem;
}

.Card-action-unit,
.Card-action-step {
  /* Color */
  color: #888;
  /* Fonts */
  font-size: .75rem;
}

.Card-action-step {
  /* Basic Box */
  bottom: 0;
  right: 0;
}

.Card-action-plus,
.Card-action-minus {
  /* Basic Box */
  width: 47.5%;
}

.Card-action-plus {
  /* Basic Box */
  margin-left: 2.5%;
}

.Card-action-minus {
  /* Basic Box */
  margin-right: 2.5%;
}

/** State **/

.Card-is-selected {
  /* Background & Borders */
  box-shadow: inset 0 0 .75rem #673ab7;
}
