/*** Card.css ***/

/** Module **/

.Card {
  /* Background & Borders */
  background-color: #fff;
  border-radius: 0.25rem;
  /* Basic Box */
  margin: .5rem 0;
  box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.16), 0 .125rem .25rem 0 rgba(0,0,0,.12);
  overflow: hidden;
}

/** Module - Card Image **/

.Card-image {
  /* Background & Borders */
  background-color: #a9a9a9;
  /* Basic Box */
  position: relative;
}

.Card-image > img {
  /* Basic Box */
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 10.25rem;
}

.Card-image-overlay {
  /* Color */
  color: #FFF;
  /* Background & Borders */
  background-color: rgba(21,21,21,.45);
  /* Basic Box */
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  padding-bottom: 40%;
  /* Text */
  text-align: center;
}

.Card-image-overlay-qty {
  /* Font */
  font-size: 1.5rem;
}

/** Module - Card Content **/

.Card-content {
  /* Basic Box */
  padding: .25rem .5rem;
  /* Text */
  line-height: 1rem;
}

.Card-content-title {
  /* Font */
  font-size: 1rem;
  font-weight: 700;
}

.Card-content-description {
  /* Color */
  color: #888;
  /* Font */
  font-size: .8rem;
  font-weight: 300;
}

/** Module - Card Action **/

.Card-action {
  /* Background & Borders */
  border-top: 1px solid rgba(160,160,160,.2);
  /* Basic Box */
  padding: .25rem .5rem .5rem .5rem;
}

.Card-action-price-parent {
  /* Basic Box */
  position: relative;
  margin-bottom: .25rem;
  /* Text */
  text-align: left;
}

.Card-action-price {
  /* Color */
  color: #FF6D00;
  /* Font */
  font-weight: 700;
  font-size: 1.125rem;
}

.Card-action-unit,
.Card-action-step {
  /* Color */
  color: #888;
  /* Font */
  font-size: .75rem;
}

.Card-action-step {
  /* Basic Box */
  bottom: 0;
  right: 0;
}

.plus,
.minus {
  /* Basic Box */
  width: 47.5%;
}

.plus {
  /* Basic Box */
  margin-left: 2.5%;
}

.minus {
  /* Background & Borders */
  background-color: #FF6D00;
  border-color: #FF6D00;
  /* Basic Box */
  margin-right: 2.5%;
}

/** State **/

.Card-is-selected {
  /* Basic Box */
  box-shadow: inset 0 0 .75rem #673AB7;
}
