/* Layout */

.l-filter-input {
  line-height: 3rem;
}

/* Module */

.filter-input {
  line-height: 1.5rem;
  vertical-align: middle;
  padding: 0.125rem 0.5rem;
  border-style: solid;
  transition: 0.25s;
}

.filter-input-txt {
  width: 18rem;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-color: #BDBDBD;
}

.filter-input-btn {
  width: 2.25rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-color: #673AB7;
  background-color: #673AB7;
  color: #FFFFFF
}

/* State */

.filter-input:focus {
  border: 2px solid #673AB7;
  outline: none;
}

.filter-input-txt,
.filter-input-txt:focus {
  border-right: 0;
}

.filter-input-btn,
.filter-input-btn:focus {
  border-left: 0;
}
