/*** index.css ***/

/* Base */

body {
  /* Color */
  color: rgba(0, 0, 0, .78);
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #d1c4e9;
  padding: .25rem;
  border-radius: .25rem;
}

html {
  box-sizing: border-box;
  background-color: #ede7f6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* CSS Reset */

button {
  cursor: pointer;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
