body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
