header {
  background-color: #DCEDC8;
}

nav {
  text-align: left;
  margin: auto;
  max-width: 60em;
}

nav a {
  display: inline-block;
  line-height: 3rem;
  padding: 0 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
  color: #212121;
  transition: 0.25s;
}

nav a:hover,
nav a.active {
  color: #FF5722;
  background-color: #fff;
}

nav a.home {
  font-size: 1.2rem;
}

nav a:last-of-type {
  font-size: 1rem;
  float: right;
}
