.nav-container {
  background-color: #DCEDC8;
}

.nav-wrap {
  margin: auto;
  max-width: 60em;
  display: block;
  line-height: 3rem;
  font-weight: 700;
  font-size: 0.9rem;  
}

.nav-wrap:after {
  display: table;
  clear: both;
  content: '';
}

.nav {
  float: left;
  padding: 0 0.75rem;
  text-decoration: none;
  color: #212121;
  transition: 0.25s;
}

.nav:hover,
.nav.is-active {
  color: #FF5722;
  background-color: #fff;
}

.nav-home {
  font-size: 1.2rem;
}

.nav-login {
  font-size: 1rem;
  float: right;
}
