.App {
  text-align: center;
}

.App-header {
  background-color: #8BC34A;
  height: 10.5rem;
  padding: 1.5rem;
  color: white;
}

.App-intro {
  font-size: large;
}

.header-error {
  color: #FF3D00;
}
