.App {
  text-align: center;
}

.App-header {
  background-color: #8BC34A;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.header-404 {
  color: black;
}

.header-ojek {
  color: #FF3D00;
}
