/*** TextField.css ***/

/** Module **/

.TextField {
  /* Color */
  color: rgba(0, 0, 0, .54);
  /* Basic Box */
  padding: .5rem 0;
  /* Text */
  line-height: 2rem;
  text-align: left;
}

.TextField-label {
  /* Basic Box */
  display: block;
  /* Fonts */
  font-weight: 700;
}

.TextField-label-span {
  /* Fonts */
  font-weight: 300;
  font-style: italic;
  font-size: .75rem;
}

.TextField-input {
  /* Color */
  color: rgba(0, 0, 0, .78);
  /* Background & Borders */
  border-radius: .375rem;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: .375rem .625rem;
  /* Text */
  line-height: 1.5rem;
  /* Fonts */
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  /* Animation */
  transition: .5s;
}

.TextField-input-fullwidth {
  /* Basic Box */
  width: 100%;
}

.TextField-message {
  /* Color */
  color: #ff6d00;
  /* Basic Box */
  float: right;
  /* Text */
  line-height: 1.5rem;
  /* Fonts */
  font-size: .75rem;
}

/** State **/

.TextField-input:focus {
  /* Background & Border */
  border: 1px solid #673ab7;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12),
    0 0 5px rgba(103, 58, 183, .54);
}

.TextField-input-is-error {
  /* Background & Border */
  border-color: #ff6d00;
}
