/* Layout */

.l-filter-input {
  line-height: 3.5rem;
  width: 30rem;
  margin: auto;
}

.l-filter-input-no-btn {
  position: relative;
}

/* Module */

.filter-input {
  line-height: 2.5rem;
  vertical-align: middle;
  border-style: solid;
  transition: 0.25s;
}

.filter-input-txt {
  width: 27rem;
  padding: 0.125rem 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-color: #BDBDBD;
}

.filter-input-txt.filter-input-txt-no-btn {
  width: 30rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-right: 2px solid #BDBDBD;
}

.filter-input-txt-search-icon {
  color: #BDBDBD;
  position: absolute;
  right: 2.3rem;
  width: 0;
  transition: 0.25s;
}

.l-filter-input-no-btn .material-icons {
  font-size: 1.5rem;
}

@media (max-width: 36rem) {

  .l-filter-input {
    width: 90%;
  }

  .filter-input-txt {
    width: 75%; /* fallback for UC Browser */
    width: calc(100% - 3rem);
  }

  .filter-input-txt.filter-input-txt-no-btn {
    width: 100%;
  }
}

.filter-input-btn {
  width: 3rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-color: #673AB7;
  padding: 0.125rem 0.625rem;
  background-color: #673AB7;
  color: #FFFFFF
}

/* State */

.filter-input:focus {
  border: 2px solid #673AB7;
  outline: none;
}

.filter-input-txt,
.filter-input-txt:focus {
  border-right: 0;
}

.filter-input-txt.filter-input-txt-no-btn:focus {
  border-right: 2px solid #673AB7;
}

.filter-input-btn,
.filter-input-btn:focus {
  border-left: 0;
}
