/*** InfoPemesan.css ***/

/** Module **/

.InfoPemesan {
  /* Basic Box */
  max-width: 26rem;
  margin: 1rem auto;
  /* Fonts */
  font-size: .875rem;
  font-weight: 300;
  /* Text */
  line-height: 1.5rem;
}

.InfoPemesan > dt {
  /* Basic Box */
  float: left;
  width: 10rem;
  overflow: hidden;
  clear: left;
  /* Fonts */
  font-weight: 700;
  /* Text */
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap
}

.InfoPemesan > dd {
  /* Basic Box */
  margin-left: 11rem;
  /* Text */
  text-align: left;
}
