/*** Pesan.css ***/

/** Layout **/

.l-Pesan {
  /* Basic Box */
  display: block;
  /* Basic Box - 2 Columns Grid */
  width: 50%;
  float: left;
  /* Basic Box - Gutter */
  padding: 0.5rem;
}

@media (max-width: 45em) {
  .l-Pesan {
    /* Basic Box - 1 Column Grid */
    width: 100%;
    float: none;
  }
}
