/*** Table.css ***/

/** Module **/

.Table {
  /* Basic Box */
  width: 100%;
  max-width: 30rem;
  margin: 1rem auto;
  /* Text */
  line-height: 1.5rem;
  /* Fonts */
  font-size: .875rem;
  /* Table Properties */
  border-collapse: collapse;
}

.Table th,
.Table tfoot td {
  /* Background & Borders */
  border-width: 1px 0;
  border-style: solid;
  border-color: #673AB7;
  /* Basic Box */
  padding: .375rem 0;
}

.Table td {
  /* Basic Box */
  padding: .375rem 0;
}

.Table > tfoot {
  /* Color */
  color: #673AB7;
}

.Table-header-number,
.Table-header-qty {
  /* Basic Box */
  width: 10%;
}

.Table-header-name {
  /* Basic Box */
  width: 40%;
}

.Table-header-price {
  /* Basic Box */
  width: 20%;
}

.Table-name {
  /* Text */
  text-align: left;
}

.Table-price,
.Table-qty {
  /* Text */
  text-align: right;
}

.Table-total {
  /* Text */
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 36em) {
  .Table-header-name {
    /* Basic Box */
    width: 30%;
  }

  .Table-header-price {
    /* Basic Box */
    width: 25%;
  }
}

@media (max-width: 22.5em) {
  .Table {
    /* Fonts */
    font-size: .75rem;
  }

  .Table-header-name {
    /* Basic Box */
    width: 20%;
  }

  .Table-header-price {
    /* Basic Box */
    width: 30%;
  }
}
