/*** MainNav.css ***/

/* Layout */

.l-mainnav{
  display: block;
  /* Center Horizontally on 60rem x 3rem */
  max-width: 60rem;
  margin: auto;
  line-height: 3rem;
}

.l-mainnav:after {
  display: table;
  clear: both;
  content: '';
}

/* Module */

.mainnav {
  font-weight: 700;
  font-size: 0.9rem;
}

.mainnav-item {
  float: left;
  border: 1px solid #D1C4E9;
  border-right-color: #BDBDBD;
  padding: 0 0.75rem;
  text-decoration: none;
  color: #212121;
  transition: 0.25s;
}

.mainnav-home {
  font-size: 1.2rem;
}

.mainnav-login {
  font-size: 1rem;
  float: right;
  border-right-color: #D1C4E9;
}

/* State */

.mainnav-item:hover,
.is-mainnav-active {
  color: #FF6D00;
  background-color: #EDE7F6;
  border-color: #EDE7F6;
  border-right-color: #BDBDBD;
}

.mainnav-item:focus {
  border: 1px solid #673AB7;
  transition: none;
}

#check {display: none;}

aside {display: none;}

.checkBtn {display: none;}

@media (max-width: 24.9rem) {
  .menu-container
  {
    width: 80vw;
    margin-left: -80vw;
  }
}

@media (max-width: 45rem) and (min-width: 25rem) {
  .menu-container
  {
    width: 300px;
    margin-left: -300px;
  }
}

@media (max-width: 45rem) {
  .l-mainnav{
    display: none;
  }

  div#root {
    margin-top: 3rem;
  }

  aside {
    display: block;
    position: fixed;
  }

  .checkBtn {display: block;}

  .toggle:checked + .container > .menu-container
  {
    margin-left: 0;
  }

  .toggle:checked + .container > .content .full-screen-close
  {
    display: block;
    background: rgba(0,0,0,.5);
  }

  .checkBtn
  {
    cursor: pointer;
  }

  .menu-container
  {
    transition: margin 0.5s ease-in-out;
  }

  .menu-container
  {
    background: #d1c4e9;
    float: left;
    height: calc(100% - 3rem);
    position: fixed;
    z-index:99;
    overflow: scroll;
  }

  .checkBtn {
    cursor: pointer;
    display: block;
    height: 35px;
    top: 0rem;
    left: 0.4rem;
    width: 35px;
    position: fixed;
    z-index: 101;
  }

  .mainnav {display: block;}

  .slide-menu {
    font-weight: 900;
    font-size: 1rem;
  }

  .slide-menu a {
    float: left;
    width: 100%;
    border: 1px solid #D1C4E9;
    border-right-color: #BDBDBD;
    text-decoration: none;
    color: #212121;
    height: 3rem;
    padding: 0.75rem;
    transition: all 0.25s ease 0s;
  }

  .mainnav-home {
    background: #d1c4e9;
    font-size: 1.2rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 101;
  }
}
