/*** MainNav.css ***/

/** Layout **/

.l-MainNav {
  /* Basic Box - Center Horizontally on 60rem x 3rem */
  display: block;
  max-width: 60em;
  margin: auto;
  /* Text */
  line-height: 3rem;
}

.l-MainNav:after {
  /* Basic Box */
  display: table;
  clear: both;
  /* Basic UI */
  content: '';
}

/** Module **/

.MainNav {
  /* Fonts */
  font-weight: 700;
  font-size: 0.9rem;
}

.MainNav-item {
  /* Color */
  color: #212121;
  /* Background & Borders */
  border: 1px solid #d1c4e9;
  border-right-color: rgba(0, 0, 0, .12);
  /* Basic Box */
  float: left;
  padding: 0 0.75rem;
  /* Text */
  text-decoration: none;
  /* Animation */
  transition: 0.25s;
}

.MainNav-home {
  /* Fonts */
  font-size: 1.2rem;
}

.MainNav-login {
  /* Background & Borders */
  border-right-color: #d1c4e9;
  /* Basic Box */
  float: right;
  /* Fonts */
  font-size: 1rem;
}

/** State **/

.MainNav-item:hover,
.MainNav-is-active {
  /* Color */
  color: #ff6d00;
  /* Background & Borders */
  background-color: #ede7f6;
  border-color: #ede7f6;
  border-right-color: rgba(0, 0, 0, .12);
}

.MainNav-item:focus {
  /* Background & Borders */
  border: 1px solid #673ab7;
  /* Animation */
  transition: none;
}
