/*** MainNav.css ***/

/* Layout */

.l-mainnav{
  display: block;
  /* Center Horizontally on 60rem x 3rem */
  max-width: 60rem;
  margin: auto;
  line-height: 3rem;
}

.l-mainnav:after {
  display: table;
  clear: both;
  content: '';
}

/* Module */

.mainnav {
  font-weight: 700;
  font-size: 0.9rem;
}

.mainnav-item {
  float: left;
  border: 1px solid #D1C4E9;
  border-right-color: #BDBDBD;
  padding: 0 0.75rem;
  text-decoration: none;
  color: #212121;
  transition: 0.25s;
}

.mainnav-home {
  font-size: 1.2rem;
}

.mainnav-login {
  font-size: 1rem;
  float: right;
  border-right-color: #D1C4E9;
}

/* State */

.mainnav-item:hover,
.is-mainnav-active {
  color: #FF6D00;
  background-color: #EDE7F6;
  border-color: #EDE7F6;
  border-right-color: #BDBDBD;
}

.mainnav-item:focus {
  border: 1px solid #673AB7;
  transition: none;
}

#menu-toggle {display: none;}

.label-toggle {display: none;}

@media (max-width: 45rem) {

  nav {
    height: 3rem;
  }

  .mainnav a {
    border: 1px solid #D1C4E9;
    border-right-color: #BDBDBD;
    text-decoration: none;
    color: #212121;
    font-size: 1px;
    width: 100%;
    height: 0.1rem;
    padding: 0 0.75rem;
    list-style-type: none;
    transition: height 0.3s ease;
    visibility: hidden;
  }

  #menu-toggle:checked ~ .mainnav a {
    height: 3rem;
    font-size: 0.9rem;
    visibility: visible;
  }

  .label-toggle {
    background: linear-gradient(to bottom, white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%); //Gradient Hamburger
    cursor: pointer;
    display: block;
    height: 35px;
    margin-top: 0.4rem;
    margin-right: 0.1em;
    right: 1rem;
    width: 35px;
    position: absolute;
    z-index: inherit;
  }

  .mainnav {display: block;}
}
