/*** MainNav.css ***/

/* Layout */

.l-mainnav{
  display: block;
  /* Center Horizontally on 60rem x 3rem */
  max-width: 60em;
  margin: auto;
  line-height: 3rem;
}

.l-mainnav:after {
  display: table;
  clear: both;
  content: '';
}

/* Module */

.mainnav {
  font-weight: 700;
  font-size: 0.9rem;  
}

.mainnav-item {
  float: left;
  border: 1px solid #D1C4E9;
  border-right-color: #BDBDBD;
  padding: 0 0.75rem;
  text-decoration: none;
  color: #212121;
  transition: 0.25s;
}

.mainnav-home {
  font-size: 1.2rem;
}

.mainnav-login {
  font-size: 1rem;
  float: right;
  border-right-color: #D1C4E9;
}

/* State */

.mainnav-item:hover,
.is-mainnav-active {
  color: #FF6D00;
  background-color: #EDE7F6;
  border-color: #EDE7F6;
  border-right-color: #BDBDBD;
}

.mainnav-item:focus {
  border: 1px solid #673AB7;
  transition: none;
}
